<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>REGISTER ACCOUNT</h1>
    <h2>TEST LINKS</h2>
    <ul>
        <li>
            <a href="/">home page</a>
        </li>
        <li>
            <a href="register">sign in</a>
        </li>
        <li>
            <a href="login">log in</a>
        </li>
        <li>
            <a href="gallery">view the gallery</a>
        </li>
    </ul>

    <form action="register" method="post">
        <label for="name">account name</label>
        <input type="text" name="name" class="form-input-field"> <br>
        <label for="email">email</label>
        <input type="email" name="email" class="form-input-field"> <br>
        <label for="password">password</label>
        <input type="text" name="password" class="form-imput-field"> <br>
        <input type="submit" value="create account">
    </form>
</body>
</html>